/* General styling */

body {
    background: linear-gradient(to bottom, #000000, #3b3b3b);
    color: #fff;
    width: 100%;
    /* Changed from 10px to 1vh */
}




body::-webkit-scrollbar {
    display: none;
}

/* PRELOADER STYLES  */

.preloader {
    background: linear-gradient(to right, #000000, #3b3b3b);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    z-index: 9999;
}

.brand-logo {
    display: flex;
    /* Display logo and text next to each other */
    align-items: center;
    /* Center vertically */
    padding: 2vw;
    /* Adjusted for better responsiveness */
    position: relative;
    /* Added */
}

.brand-logo img {
    width: clamp(5vw, 10vw, 20vw);
    height: clamp(5vw, 10vw, 20vw);
    transition: all 2s ease-in-out;
    /* Adjusted for better responsiveness */
}

.brand-logo h1 {
    font-size: clamp(3rem, 3.5vw, 4rem);
    margin-top: 0;
    color: #fff !important;
    /* White text color */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Text shadow for better visibility */
    white-space: nowrap;
    position: relative;
}


.preloader.fade-out {
    transition: opacity 2s ease-in-out;
}






/* MODEL & CREATOR BUTTONS  */

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1vh;
    /* Adjusted from 1px to 1vh */
    background-color: #000000;
}

button {
    position: relative;
    display: inline-block;
    margin: 1.875vh 2.25vh;
    /* Changed from 25px 30px */
    padding: 1.875vh 2.25vh;
    /* Changed from 15px 30px */
    text-align: center;
    font-size: 2.75vh;
    /* Changed from 22px to 2.75vh */
    letter-spacing: 0.75vh;
    /* Changed from 6px to 0.75vh */
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 0.15vh solid rgba(0, 0, 0, 0.8);
    /* Changed from 2px */
    border-radius: 1.5vh;
    /* Changed from 20px */
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.8);
}

button:hover {
    color: rgb(0, 0, 0);
    box-shadow: inset 0 -8.64vh 0 0 rgba(255, 255, 255, 0.8);
    /* Changed from -108px */
    border-radius: 1.5vh;
    /* Changed from 20px */
}

button.active {
    transform: scale(0.9);
}

/* SLIDESHOW STYLES */

.slideshow-container1,
.slideshow-container2 {
    min-height: 22vh;
    /* Set a minimum height for the container */
    max-height: 90vh;
    /* Set a maximum height for the container */
    width: 100%;
    margin: 2vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: fit-content;
}


.slide {
    position: relative;
    display: contents;
    overflow: hidden;
    max-width: 100%;
    border-radius: 2vh;
    opacity: 0;
    transition: opacity 3s ease;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Use cover to ensure the entire container is filled */
    aspect-ratio: 4/3;
    /* Adjust aspect ratio as needed */
}

.slide::before {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* For laptops (max-width: 1024px) */
@media only screen and (max-width: 1024px) {

    .slideshow-container1,
    .slideshow-container2 {
        height: 90vh;
        /* Set height to 90vh for laptops */
    }
}

/* For mobile devices (max-width: 768px) */
@media only screen and (max-width: 768px) {

    .slideshow-container1,
    .slideshow-container2 {
        height: 10vh;
        /* Set height to 22vh for mobile devices */
    }
}


/* INFO CARD STYLESx */
/* ==========================Font========================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@font-face {
    font-family: 'robotoregular';
    src: url(../fonts/roboto-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Allow cards to wrap to the next line */
    margin: 0 auto;
}


.card-container .card {
    position: relative;
    width: 300px;
    height: 420px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    transition: .5s ease-in-out;
}

.card-container:hover .card {
    filter: blur(20px);
    transform: scale(.9);
    opacity: .5;
}

.card-container .card:hover {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
}

.card-container .card:hover .circle {
    clip-path: circle(600px);
}

.card-container .card:hover .content p {
    color: #fff;
}

.card-container .card:hover .content a {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2),
        -1px -1px 2px rgba(255, 255, 255, .4);
}

.card-container .card .content a:active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .1),
        inset 5px 5px 5px rgba(0, 0, 0, .04),
        inset -5px -5px 5px rgba(255, 255, 255, .07),
        inset -1px -1px 2px rgba(255, 255, 255, .4);
}

.card-container .card .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
    transition: 1s ease-in-out;
}

.card-container .card h2 {
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}

.card-container .card .content {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
}

.card-container .card .content p {
    color: #666;
    transition: .5s ease-in-out;
}

.card-container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
    transition: .8s ease-in-out;
}

.card-container .card:nth-child(1) .circle,
.card-container .card:nth-child(1) .content a {
    background: #000000;
}

.card-container .card:nth-child(2) .circle,
.card-container .card:nth-child(2) .content a {
    background: #000000;
}

.card-container .card:nth-child(3) .circle,
.card-container .card:nth-child(3) .content a {
    background: #000000;
}

@keyframes colorChange {
    0% {
        color: #fff;
    }

    50% {
        color: #b1b493;
    }

    80% {
        color: #4f8a8b;
    }

    100% {
        color: #fff;
    }
}

/* =======================Responsive Breakpoint ========================== */

/* For laptops (max-width: 1024px) */
@media only screen and (max-width: 1024px) {
    .card {
        height: 90vh; /* Set height to 90vh for laptops */
    }
    .card {
        width: 30%; /* Adjust width of cards for smaller screens */
    }
}

/* For mobile devices (max-width: 768px) */
@media only screen and (max-width: 768px) {
    .card {
        height: 10vh; /* Set height to 10vh for mobile devices */
    }
    .card {
        width: 90%; /* Adjust width of cards for mobile devices */
    }
}




/* FEATURED INFLUENCER STYLES */

.featured-influencer,
.featured-influencer h2 {
    text-align: center;
    padding: 1vh 0;
    color: #fff;
    margin-bottom: 0.5vh;
}

.influencer-item {
    perspective: 1000px;
    /* Add perspective to create 3D effect */
    position: relative;
    margin-bottom: 2vh;
    overflow: hidden;
}

.influencer-item img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s;
}

.influencer-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black overlay */
    transition: opacity 0.5s;
    opacity: 0;
    /* Initially invisible */
    color: #ffffff;
}

.influencer-item:hover .overlay {
    opacity: 0.8;
    /* Show the overlay on hover */
    background-color: #000;
}

.influencer-item:hover img {
    transform: rotateY(180deg);
    /* Rotate image on hover */
}


.overlay {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
    text-align: center;
    /* Center text within the overlay */
    height: 100%;
    /* Ensures full height of the parent container */
    border-radius: 1.2vh;

}

.overlay h1 {
    color: #ffffff;
    font-size: 26px;
    /* Adjust the font size as needed */
    margin: 10px 0;
    /* Adds some space between the items */
}





/* FOOTER STYLES */

.bg-dark.text-light.text-center.py-3 {
    background-color: #343a40;
    color: #fff;
    padding: 1vh;
    /* Changed from 1rem */
}