/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: 
*/

.custom-font {
    font-family: 'IBM Plex Serif', serif;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 300vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    animation: loader 2s infinite ease-in-out;
}

.loader span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    border: 4px solid #0B1B48;
}

.loader span:nth-child(1) {
    animation: span-1 2s ease-in-out infinite;
}

.loader span:nth-child(2) {
    animation: span-2 2s ease-in-out infinite;
}

.loader span:nth-child(3) {
    animation: span-3 2s ease-in-out infinite;
}

.loader span:nth-child(4) {
    animation: span-4 2s ease-in-out infinite;
}

/* Hide the preloader when the page finishes loading */
.hide-preloader {
    opacity: 0;
    pointer-events: none;
}

.navbar {
    background: rgb(0, 0, 0) !important;
    color: #ffffff;
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar-divider {
    height: 2px;
    background-color: #ffffff;
    margin-top: 10px;
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: 999;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #f8f9fa !important;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #000000, #3b3b3b);
    font-family: 'Poppins', sans-serif;
    padding-top: 52px;
    margin: 0;
    width: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    padding: 32px;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #ffffff;
    border-radius: 3px;
    margin: 0 auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    z-index: -1;
    transition: .5s;
}

.card:hover::after {
    transform: rotate(10deg);
}

.card:hover::before {
    transform: rotate(20deg);
}

.card .imgBox {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #101010;
    z-index: 1;
    transition: .5s;
}

.card:hover .imgBox {
    bottom: 75px;
}

.card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 55px;
}

.card .details h2 {
    margin-top: 5px;
    padding: 0;
    font-weight: 900;
    font-size: 20px;
    color: #101010;
    text-align: center;
    line-height: 1.15em;
}

.card .details h2 span {
    font-weight: 400;
    font-size: 15px;
    color: #0dac4f;
}